
<h3>join Page</h3>

<form method="POST" action="{% url 'join' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="test" value="{{ fname }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="first name" name="fname">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="second name" name="lname">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="age" name="age">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="{% url 'home' %}">home page</a>
